.banner .banner-caption {
    padding: 100px 0px;
  }
  
.banner .banner-caption .line-dec {
width: 80px;
height: 4px;
background-color: #4883ff;
}

.banner .banner-caption h2 {
margin-top: 20px;
margin-bottom: 20px;
font-size: 42px;
letter-spacing: 0.5px;
color: #111;
}

.banner .banner-caption span {
font-size: 22px;
color: #111;
letter-spacing: 0.5px;
}

.banner .banner-caption .blue-button {
margin-top: 30px;
}

.banner .submit-form {
border-bottom: 5px solid #4883ff;
background-color: #111;
padding: 15px;
}
.btns{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color: #4883ff;
    border: none;
}
.btns:hover{
    border: 2px solid #4883ff;
    background-color: white;
    color: #4883ff;
    transition: 1s
}